
.h-cont
{
   display: flex;
   
}
.vm-cont
{
    justify-content: space-around;
    display: flex;
}
.main-cont
{
    display: flex;
    padding: 10px;
    box-shadow: -2px 2px 5px 1px rgb(155, 154, 154);
    border-radius: 20px 0 0 20px;
    width: 50%;

}
.card-imgs-cont
{
    height: 138px;
    width: 274px;
    padding: 4px;
}

.card-imgs-main
{
    padding: 4px;
    width: 45%;
}

.cards-imgs{
    height: 100%;
    width: 100%;
    
}

.cards-sm-imgs-cont
{
    display: flex;
    padding: 4px;
}

.sm-img
{
    height: 100%;
}

.sm-img-cont
{
    height: 40px;
    width: 60px;
    display: block;
    padding: 4px;
}

.details-btn{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #f93a3a;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


/* cards textx */

.card-tst-cont
{
    padding: 4px;
    width: 55%;
}

.card-price-cont
{
    padding: 6px;
    box-shadow: 2px 2px 5px 1px rgb(155, 154, 154);
    border-radius: 0 20px 20px 0;
    width: 20%;
    display: flex;
    justify-content: end;

}

.price-bx
{
    margin-right: 5%;
    text-align: end;
    padding: 4px;
    margin-top: 10px;
}

.rating-txt
{
    margin: 0;
}

.deal-brg
{
    border-bottom: 1px solid #f93a3a;
    border-top: 1px solid #f93a3a;
    border-left: 1px solid #f93a3a;
    padding: 4px;
    
}

.rating-cont
{
    margin-bottom: 15px;
}

.deal-brg-cont
{
    padding: 4px;
    margin-bottom: 20px;
}

.hed-txt
{
    padding: 4px;
   font-family: 'Bree Serif', serif;
   font-size: 20px;

}


.price-data
{
    padding: 4px;
}

.mx-price
{
display: block;
text-decoration: line-through;
color: #f93a3a;
}

.nw-price
{
display: block;
color: #f93a3a;
font-size: 20px;
font-family: 'Bree Serif', serif;

}


.btn-cont
{
    display: flex;
}

.subtn
{
    margin-left: 8px;
    padding: 4px;
    width: auto;
}

.btn-txt
{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #f93a3a;
    color: white;
    border: none;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.su-btn
{
    margin-left: 8px;
    padding: 4px;
    width: auto;
}
.su-btn-txt
{
    padding: 4px;
    background-color: #f93a3a;
    color: white;
    border: none;
    height: 30px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;

}