

.welcm{
border-bottom: 1px solid black;
color: #d8232a;
margin-top:100px;
}

.btn-service{
color:white;
padding-left: 30px;
padding-right: 30px;
height: 40px;
margin-top: 20px;
background-color:#d8232a;;
border-radius: 20px;
border: 2px solid #d8232a;
}
.btn-service:hover{

background-color:black;
cursor: pointer;
transition: 1s;
border-color: black;
}
.main-container{

display: flex;
justify-content: center;
margin-top: 80px;
}



.container{
position: relative;
perspective: 500px;
transform-style: preserve-3d;
display: inline-block;
text-align: justify;
font-size: larger;

}
.img-1{

 
  height: 300px;
  height: 400px;
  margin-left: 40px;
  border-radius: 35px;
}
.team{
font-size: 40px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin-top: 40px;
}


.div-colo{
  color: black;
  background-color:rgb(144, 144, 254);
  height: 130px;
  width:360px;
  border-radius: 8px 8px 0 0 ;
}
.abhi{
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  bottom: 240px;
  text-align: center;
  margin-left: 100px;
  color: #d8232a;
}
.grp-lead{
  font-size: 20px;
 color: rgb(90, 90, 241);
  text-align: center;
  position: absolute;
  bottom:230px;
  left: 120px;
}
.icons{
display: flex;
flex-direction: row;
justify-content: center;


}

.img-github{
  position: absolute;
  bottom: 30px;
  padding: 5px;
  left: 80px;
  box-shadow: 0 0 5px 1.5px rgb(181, 179, 179);
  border-radius: 50%;

}
.img-insta{
  position: absolute;
  bottom: 30px;
  left: 130px;
  box-shadow: 0 0 5px 1.5px rgb(181, 179, 179);
  border-radius: 50%;
  padding: 5px;
}

.img-wp{
  position: absolute;
  bottom: 30px;
  left: 233px;
  box-shadow: 0 0 5px 1.5px rgb(181, 179, 179);
  border-radius: 50%;
  padding: 4px;
}
.img-link{
  position: absolute;
  bottom: 31px;
  left: 183px;
  box-shadow: 0 0 5px 1.5px rgb(181, 179, 179);
  border-radius: 50%;
  padding: 6px;
  margin-right: 10px;
}
/* .img-twitter{
  position: absolute;
  bottom: 60px;
  left: 300px;
} */

.body-cont{

  background-color: #e6a6a8;
}

.work{
  font-size: 18px;
 
   text-align: center;
   position: absolute;
   bottom:190px;
   left: 65px;
}

.info{
    text-align: center;
    position: absolute;
    bottom: 110px;
   
}











.img-card{
margin-top: 30px;
    position: absolute;
    height: 160px;
    width: 170px;
    border: 1px solid rgb(88, 87, 87);
    border-radius: 100px;
    top:25px;
    margin-left: 90px;
    
    }
    


.card1{
  position: relative;
  color: black;
  background-color:whitesmoke;
  box-shadow: 0 10px 30px 0px rgb(108, 107, 107);
  height: 515px;
  width:360px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin: 20px;
  border-radius: 10px;
  display: inline-block;

}

 

.main{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 40px;
margin: 50px;

}





























/* .card1{
position: absolute;
color: white;
height: 510px;
width:300px;
border:1px solid rgb(193, 184, 184);
box-shadow: 0 0 30px 20px;
border-radius: 2px;
transform: rotateY(calc(var(--offset) * 50deg));

} */

/* .img-aaru{
position: absolute;
height: 200px;
width: 300px;
border: 1px solid blanchedalmond;
border-radius: 100%;

}  */

