
body {
  margin-left: 80px;
  margin-right: 80px;
}

.welcm {
  border-bottom: 1px solid black;
  color: #d8232a;
  margin-bottom: 20px;

}

.btn-service {
  font-size: 15px;
  color: white;
  width: 190px;
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  margin-top: 20px;
  background-color: #d8232a;
  border-radius: 20px;
  border: 2px solid #d8232a;
}

.btn-service:hover {

  background-color: black;
  cursor: pointer;
  transition: 1s;
  border-color: black;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}



.container {
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
  display: inline-block;
  text-align: justify;
  font-size: larger;
  
}

.img-1 {


  height: 250px;
  height: 400px;
  margin-left: 40px;
  border-radius: 35px;
}
/* our-team */
.our-team{
  color: #d8232a;
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}
.card-container{
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 

 margin-bottom: 50px;
}
.card{
  height: 380px;
  width: 250px; 
  
  padding: 5px;
  box-shadow: 0 0 5px 1px gray;
  background-color: rgb(253, 253, 245);
  border-radius: 20px;
}
.card:hover{
  box-shadow: 0px 0px 5px 3px rgb(187, 121, 121);
}
.card-img{

  height: 250px;
  width: 250px;
  border-radius: 50%;



}
.social-icon{
  height: 35px;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 4px 0.5px black;
}
.icon{
  display: flex;
  justify-content: center;
}
.name{
  color: #d8232a;
  text-align: center;
}