.welcm{
border-bottom: 1px solid black;
color: #d8232a;
margin-top:100px;



}

.btn-service{
color:white;
padding-left: 30px;
padding-right: 30px;
height: 40px;
margin-top: 20px;
background-color:#d8232a;;
border-radius: 20px;
border: 2px solid #d8232a;

}
.btn-service:hover{

background-color:black;
cursor: pointer;
transition: 1s;
border-color: black;
}


.main-container{

display: flex;
justify-content: center;
margin-top: 80px;
}



.container{
position: relative;
perspective: 500px;
transform-style: preserve-3d;
display: inline-block;
text-align: justify;
font-size: larger;

}
.img-1{

 
  height: 300px;
  height: 400px;
  margin-left: 40px;
  border-radius: 35px;
}
.team{
font-size: 40px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin-top: 40px;
}

.card1{
position: absolute;
color: white;
height: 510px;
width:300px;
border:1px solid rgb(193, 184, 184);
box-shadow: 0 0 30px 20px;
border-radius: 2px;
transform: rotateY(calc(var(--offset) * 50deg));

}

.img-aaru{
position: absolute;
height: 200px;
width: 300px;
border: 1px solid blanchedalmond;
border-radius: 100%;

} 

