

.welcm{
border-bottom: 1px solid black;
color: #d8232a;
margin-top:100px;
}

.btn-service{
color:white;
padding-left: 30px;
padding-right: 30px;
height: 40px;
margin-top: 20px;
background-color:#d8232a;;
border-radius: 20px;
border: 2px solid #d8232a;
}
.btn-service:hover{

background-color:black;
cursor: pointer;
transition: 1s;
border-color: black;
}
.main-container{

display: flex;
justify-content: center;
margin-top: 80px;
}



.container{
position: relative;
perspective: 500px;
transform-style: preserve-3d;
display: inline-block;
text-align: justify;
font-size: larger;

}
.img-1{

 
  height: 300px;
  height: 400px;
  margin-left: 40px;
  border-radius: 35px;
}
.team{
font-size: 40px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin-top: 40px;
}


.div-colo{
  color: black;
  background-color:rgb(90, 90, 241);
  height: 130px;
  width:360px;
}
.abhi{
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  bottom: 150px;
  text-align: center;
  margin-left: 100px;
}
.grp-lead{
  font-size: 20px;
  font-style: oblique;
  text-align: center;
  position: absolute;
  bottom:135px;
  left: 120px;
}
.icons{
display: flex;
flex-direction: row;
justify-content: center;


}

.img-github{
  position: absolute;
  bottom: 60px;
  left: 40px;

}
.img-insta{
  position: absolute;
  bottom: 60px;
  left: 110px;
}

.img-face{
  position: absolute;
  bottom: 60px;
  left: 180px;
}
.img-link{
  position: absolute;
  bottom: 60px;
  left: 250px;
}
/* .img-twitter{
  position: absolute;
  bottom: 60px;
  left: 300px;
} */

.btn-msg{
  color: aliceblue;
  background-color: #d8232a;
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  position:absolute;
  bottom: 5px;
  left:240px;
}

















.img-card{
margin-top: 30px;
    position: absolute;
    height: 160px;
    width: 170px;
    border: 3px solid whitesmoke;
    border-radius: 100px;
    top:25px;
    margin-left: 90px;
    box-shadow: 0 0 15px 5px whitesmoke;
    }
    .img-card:hover{
    position: absolute;
    height: 150px;
    width: 160px;
    border: 4px solid whitesmoke;
    border-radius: 20px 0 20px 0;
    top: 65px;
    margin-left: 90px;
    box-shadow: 0 0 15px 5px rgb(237, 190, 206);
    transition: 1.5s;
    cursor: pointer;
}


.card1{
  position: relative;
  color: black;
  background-color:whitesmoke;
  border: 2px solid black;
  height: 430px;
  width:360px;
 
  margin-top: 20px;
  margin-bottom: 100px;
 
  border-radius: 5px;
  display: inline-block;

}

.card2{
  position: relative;
  color: black;
  background-color:whitesmoke;
  border: 2px solid black;
  height: 430px;
  width:360px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-block;

}

.card3{
  position: relative;
  color: black;
  background-color:whitesmoke;
  border: 2px solid black;
  height: 430px;
  width:360px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-block;

}

.card4{
  position: relative;
  color: black;
  background-color:whitesmoke;
  border: 2px solid black;
  height: 430px;
  width:360px;
  
  margin-bottom: 100px;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-block;

}

.card5{
  position: relative;
  color: black;
  background-color:whitesmoke;
  border: 2px solid black;
  height: 430px;
  width:360px;
  margin-bottom: 100px;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-block;

}

.card6{
  position: relative;
  color: black;
  background-color:whitesmoke;
  border: 2px solid black;
  height: 430px;
  width:360px;
 
  margin-bottom: 50px;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-block;

}

.main{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 40px;
/* background-color: #f18d90; */
}





























/* .card1{
position: absolute;
color: white;
height: 510px;
width:300px;
border:1px solid rgb(193, 184, 184);
box-shadow: 0 0 30px 20px;
border-radius: 2px;
transform: rotateY(calc(var(--offset) * 50deg));

} */

/* .img-aaru{
position: absolute;
height: 200px;
width: 300px;
border: 1px solid blanchedalmond;
border-radius: 100%;

}  */

