.div-con-0
{
    height: 100px;
    width: 220px;
}
.a{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 10px; */
    /* width: 100px; */
}
.all-main-div
{
    border: 1px solid rgb(191, 185, 185);
    padding-bottom: 10px;
    width: auto;
}
.header
{
   text-align: start;
    flex-wrap: wrap;
    padding: 40px;  
}
.div-main-1
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}
.input-type
{
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid rgb(183, 176, 176);  
    width: 240px;  
}
.input-type:focus
{
    outline: none;
}
#state{
    width: 100px;
    border-color:rgb(183, 176, 176) ;
    margin-left: 40px;
}
.image-pay
{
    height: 50px;
}
.image-pay:hover
{
    transform: scale(1.5);
    transition:1s;
    size: 500px;
}