body {
   margin: 0;
   padding: 0;
}

.d-flex {
   display: flex;
   flex-wrap: wrap;
}

.inputBox :focus {
   outline: none;
}

.in-1 {
   height: 40px;
   width: 250px;
   border-radius: 20px 0 0 20px;
   background-color: rgb(248, 250, 250);
   border: 1px solid #f52809;
   padding-left: 20px;
}

.btn-search {
   height: 44px;
   color: #ffff;
   background-color: #f52809;
   border-radius: 0px 20px 20px 0px;
   margin-left: -5px;
   border: 1px solid #f52809;
   padding-left: 10px;
   padding-right: 10px;
}

.img-home {
   height: 400px;
   background-image: url("./../img/index-page-img/bulding-img.jpg");
   text-align: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   padding-top: 150px;
}

.heding1-t {
   display: inline-block;
}

.hel-1 {
   color: #2d5ed3;
   display: inline-block;
   padding: 10px;
   border-radius: 10px;
}

.heading-2 {
   text-align: center;
   margin-bottom: -10px;
   margin-top: 60px;
}

.rent-collection {
   background-image: url(./../img/index-page-img/forfamily.webp);
   background-size: 100%;
   height: 295px;
   width: 500px;
   padding: 0px;
   margin: 50px;
   border: 1px solid #d8232a;
   padding-top: 38px;
   border-radius: 5px;
}

.rent-collection:hover {
   background-size: 105%;
}

.bg-1 {
   background-image: url(./../img/index-page-img/singlemen.webp);
}

.bg-2 {
   background-image: url(./../img/index-page-img/singlewomen.webp);
}

.bg-3 {
   background-image: url(./../img/index-page-img/tanlentwithcompany.webp);
}

.forfamily-tex {
   text-decoration: none;
   font-size: 20px;
   margin-left: 40px;

   color: #d8232a;
}

.ml-30 {
   margin-left: 40px;
}

.ta-center {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.container-foot1 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   background-color: #f5f5f5;
   padding-top: 80px;
   padding-bottom: 80px;
}

.container-foot {
   background-color: #f5f5f5;
   padding-bottom: 50px;
}

.foot-icon {
   font-size: 30px;
   margin-left: 10px;
   color: #d8232a;
}

.foot-anchor {
   text-decoration: none;
}

.color-light {
   color: #666565;
}

.foot-tex {
   margin-left: 40px;
}

.tex-red {
   color: #d8232a;
}

*/ body {
   margin: 0;
   padding: 0;
}

.d-flex {
   display: flex;
   flex-wrap: wrap;
}

.inputBox :focus {
   outline: none;
}

.in-1 {
   height: 40px;
   width: 250px;
   border-radius: 20px 0 0 20px;
   background-color: rgb(248, 250, 250);
   border: 1px solid #f52809;
   padding-left: 20px;
}

.btn-search {
   height: 44px;
   color: #ffff;
   background-color: #f52809;
   border-radius: 0px 20px 20px 0px;
   margin-left: -5px;
   border: 1px solid #f52809;
   padding-left: 10px;
   padding-right: 10px;
}

.img-home {
   height: 400px;
   background-image: url("./../img/index-page-img/bulding-img.jpg");
   text-align: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   padding-top: 150px;

}

.heding1-t {
   display: inline-block;
}

.hel-1 {
   color: #2d5ed3;
   display: inline-block;
   padding: 10px;
   border-radius: 10px;
}

.heading-2 {
   text-align: center;
   margin-bottom: -10px;
   margin-top: 60px;
}


/*curated rental collection*/
.rent-collection {
   background-image: url(./../img/index-page-img/forfamily.webp);
   background-size: 100%;
   height: 295px;
   width: 500px;
   padding: 0px;
   margin: 50px;
   border: 1px solid #d8232a;
   padding-top: 38px;
   border-radius: 5px;
}

.rent-collection:hover {
   background-size: 105%;
}

.bg-1 {
   background-image: url(./../img/index-page-img/singlemen.webp);
}

.bg-2 {
   background-image: url(./../img/index-page-img/singlewomen.webp);
}

.bg-3 {
   background-image: url(./../img/index-page-img/tanlentwithcompany.webp);
}

.forfamily-tex {
   text-decoration: none;
   font-size: 20px;
   margin-left: 40px;

   color: #d8232a;
}

.ml-30 {
   margin-left: 40px;
}

.ta-center {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

/*footer*/
.container-foot1 {
   margin: 0%;
}

/* -----------header------------ */
.header-div {
   display: flex;
   height: 40px;
}

.brand-heading {
   color: #d8232a;
   margin-left: 20px;
   font-family: 'Work Sans', sans-serif;
   margin-top: auto;
   margin-bottom: auto;
}

.btns {
   margin-left: auto;
   margin-right: 20px;
}

.login-btn {
   background-color: white;
   padding: 10px;
   border: none;

}

.user {
   font-size: 15px;
}

.user:hover {
   color: #d8232a;
}

/* -----navbar------------------ */
nav {
   height: 60px;
   background-color: #d8232a;
   display: flex;
   justify-content: center;
}

.selects {
   margin-top: 13px;
}

.select-budget {

   border: none;
   height: 35px;
   width: 90px;
   border: solid 1px #d8232a;
   border-radius: 30px;
   font-size: 15px;
   padding-left: 10px;
   padding-right: 5px;
   margin-right: 10px;

}

.property-type {
   border: none;
   height: 35px;
   width: 135px;
   border: solid 1px #d8232a;
   border-radius: 30px;
   font-size: 15px;
   padding-left: 10px;
   padding-right: 5px;
   margin-right: 10px;
}

.select-posted-by {
   border: none;
   height: 35px;
   width: 115px;
   border: solid 1px #d8232a;
   border-radius: 30px;
   font-size: 15px;
   padding-left: 10px;
   padding-right: 5px;
   margin-right: 10px;
}

.select-bhk {
   border: none;
   height: 35px;
   width: 70px;
   border: solid 1px #d8232a;
   border-radius: 30px;
   font-size: 15px;
   padding-left: 10px;
   margin-right: 10px;
   padding-right: 5px;
}

/*footer*/
.container-foot1 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   background-color: #f5f5f5;
   padding-top: 80px;
   margin-right: 10px;
   padding-bottom: 80px;
}

.container-foot {
   background-color: #f5f5f5;
   padding-bottom: 50px;
}

.foot-icon {
   font-size: 30px;
   margin-left: 10px;
}

.foot-anchor {
   text-decoration: none;
}

.color-light {
   color: #666565;
}

.foot-tex {
   margin-left: 40px;
}

.tex-red {
   color: #d8232a;
}

/*footer*/
.container-foot1 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   background-color: #f5f5f5;
   padding-top: 80px;
   padding-bottom: 80px;
}

.container-foot {
   background-color: #f5f5f5;
   padding-bottom: 50px;
}

.foot-icon {
   font-size: 30px;
   margin-left: 10px;
   color: #d8232a;
}

.foot-anchor {
   text-decoration: none;
}

.color-light {
   color: #666565;
}

.foot-tex {
   margin-left: 40px;
}

.tex-red {
   color: #d8232a;
}