* {
    margin: 0px;

}

/* -----navbar------------------ */


.brand-heading-1 {
    color: white;
    margin-right: auto;
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    height: 60px;
    background-color: #d8232a;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav-items {
    display: flex;
    justify-content: end;
}

.post-btn {
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #d8232a;
    color: white;
    margin-top: 10px;
    margin-right: 50px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

}

.post-btn:hover {
    border: none;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.home-png {
    display: none;
}

/* navbarend */

.log-in-main-contener {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    font-size: 25px;
    background-color: #ffffff;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.peragraph {
    margin-left: 1px;
}

.log-in-card-1 {
    text-align: center;
    height: 450px;
    margin-top: 90px;
    border: 0.5px solid #c0bfbf;
    width: 320px;
    /* margin-left: 100px; */
    box-shadow: 0px 1px 50px 0px rgb(176, 171, 171);
    padding: 30px;
    border-radius: 10px;
}

.input {
    text-align: center;
    padding: 8px;
    width: 170px;
    margin-top: 20px;
    border: none;
    margin-right: 10px;
    font-size: 15px;
    border-bottom: 1px solid;
    border-color: #81808080;
}
.bold-1{font-weight: bold;}

.input:hover {
    padding: 8px;
    /* width: 240px; */
    cursor: pointer;
}

.input:focus {
    outline: none;
}

.img-log {
    height: 400px;
    margin-top: 60px;
   
}

.main-form {
    /* width: 50%; */
}

.btn-login {
    background-color: #d8232a;
    color: white;
    width: 180px;
}
.btn-login:hover{color: #d8232a;
background-color: white;
border: 2px solid #d8232a;}

.image-log-1 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #c0bfbf;
}

.image-log-2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #c0bfbf;
    margin-top: 10px;
}

.pera-font {
    font-size: 15px;
    color: #c0bfbf;
}

 /*footer*/
 .container-foot1{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding-top: 80px;
    padding-bottom: 80px;
   }
   .container-foot{background-color: #f5f5f5;
  padding-bottom: 50px;}
   .foot-icon{
    font-size: 30px;
    margin-left: 10px;
    color: #d8232a;
   }
   .foot-anchor{
    text-decoration: none;
   }
   .color-light{
    color: #666565;
   }
   .fotr-cont{
   text-align: center;

   }
   .tex-red{color:#d8232a ;}
   .con-foot{
    
     padding: 50px;

   }